[Unit]
Description=mpvpaper Wallpaper Service
After=graphical-session.target

[Service]
Type=simple
Environment=DISPLAY=:0
ExecStart=/usr/bin/mpvpaper -o "no-audio --loop --panscan=1.0" ALL %h/.wallpaper/current > /dev/null
ExecStop=/usr/bin/killall mpvpaper
MemoryMax=2G
Restart=on-failure
RestartSec=1s
StartLimitIntervalSec=2m
StartLimitBurst=120

[Install]
WantedBy=default.target
